* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
}

.container {
    padding: 1rem;
    background-color: azure;
    height: 100vh;
    width: 100vw;
}

.container h1 {
    font-family: 'Pokemon Solid', sans-serif;
    text-align: center;
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
  }